body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.schedule {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.schedule th, .schedule td {
    border: 1px solid #7a7a81;
    padding: 10px;
    text-align: center;
}

.schedule th {
    background-color: #9db0ee;
}